* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica";
    font-weight: bold;
    background-color: #F5E6CC;
    width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: #333333;
    margin-bottom: 5.3vh;
}
.navTxt {
    color: #ECAB55;
    font-size: 1.5vw;
    text-align: left;
    margin-right: 2.13vw;
}
.navLogo {
    margin-left: 1.15vw;
    margin-right: 2vw;
    width: 11vw;
    display: block;
}
input {
    padding-left: 1vw;
    margin-left: 13vw;
    width: 27.56vw;
    height: 5vh;
    background: #FFFFFF;
    color: black;
    border-color: #232323;
    border-width: 0.1vw;
    border-style: solid;
    border-radius: 2vw;
    font-weight: 400;
    font-size: 1.17vw;
    text-align: left;
}
.text p {
    text-align: center;
}
.wrapper {
    margin: 0 5.5vw;
}
.filters {
    border: #606060 0.2vw solid;
    border-radius: 0 1.5vw 0 1.5vw;
    align-items: center;
    height: 8.89vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #333333;
    margin-bottom: 2.41vh;
}
.filters h2 {
    margin-left: 1.04vw;
    font-weight: normal;
    color: #ECAB55;
    font-size: 3.229vw;
    margin-right: 1.5vw;
}
.filters p {
    cursor: pointer;
    line-height: 8.89vh;
    padding: 0 0.78vw;
    height: 100%;
    border-left: #606060 0.2vw solid;
    font-weight: normal;
    color: #ECAB55;
    font-size: 1.5vw;
    text-align: left;
}
.buttons {
    height: 100%;
    display: flex;
    align-items: center;
}
.selected {
    background: #444444;
    color: #F5E6CC !important;
}
.main {
    display: flex;
    padding: 1.85vh;
    background: #B8A283;
    border-radius: 0.52vw;
    border: #000000 0.2vw solid;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.3vw;
    margin-bottom: 3.24vh;
}
.tile {
    overflow: hidden;
    background: #E6D9AB;
    width: 15.79vw;
    height: 30.19vh;
    display: flex;
    border-radius: 0.52vw;
    flex-direction: column;
    align-items: center;
    font-size: 1.15vw;
    border: #000000 0.2vw solid;
}
.star {
    width: 6.945vw;
    object-fit: contain;
    margin-right: 17px;
}
.tImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.text {
    color: black;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    text-decoration: none;
}
footer {
    background-color: #e6d9abd2;
    height: 10vh;
    position: relative;
    padding: 0 2.25vw;
}
footer p {
    position: absolute;
    left: 2.25vw;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    color: #4F4F4F;
    margin: 0;
}
.icons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iLinks {
    margin-top: 0.9vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icons img {
    height: 20px;
}